body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  background-color: #f6f7f9;
  color: #404e5f;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input, textarea {
  font-family: 'Lato', sans-serif;
  background-color: transparent; }

.menu_nav_link.active {
  background-color: #d9e021; }

.main_nav_link.active {
  background-color: transparent; }

.search_inputs_cont .search_input:last-child {
  margin-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    .search_inputs_cont .search_input:last-child {
      display: none; } }

.mobile_only_input {
  display: none; }
  @media only screen and (max-width: 768px) {
    .mobile_only_input {
      display: block; } }
